*{
    padding: 0;
    list-style: none;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}


body{
     font-family: Georgia, 'Times New Roman', Times, serif;
     /* background-image: url(/static/images/library-image1.jpeg); */
 }
 nav{
    background-color: rgb(47, 49, 49);
    height: 100px;
    width: 100%;

}
label.logo{
    color: white;
    font-size: 25px;
    line-height:80px ;
    padding: 0 100px;
    font-weight: bold;
 }
 nav ul{
     float: right; 
     margin-right: 20px 

}
nav ul li{
   display: inline-block;
   line-height: 80px;
   margin: 0 10px;
    
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    
}
a.active,a:hover{
  background-color: rgb(133, 130, 130);
  transition:  .5s;

}
.checkbtn{
   font-size: 30px;
   color: whitesmoke;
   float:right;
   line-height: 80px;
   margin-right: 40px;
   cursor: pointer;
}
#check{
    display: none;

}
.ul input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
@media (max-width: 952px){
    label.logo{
        font-size: 13px;
        padding: left 50px;  
    }
    nav ul li a {
        font-size: 16px;
     }
}
@media (max-width:858px){
    .checkbtn{
        display:block
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color:darkgray;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
 }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
 }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
       background: none;
       color: rgb(56, 56, 56);
    }
    #check:checked ~ ul{
        left: 0;
    }
}

/* section{
    background: url(image.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh-80px);
} */