body{
  background-image: url(/static/images/library-image1.jpeg);
  background-size: cover;
  font-style: normal;
  text-align: center;
}

#log1{
	border: ridge;
	color: blue;
	padding: 50px;
	margin:auto;
	background: gainsboro;
	box-sizing: content-box;
	width: 300px;
	height: 200px;
	border-radius: 10px;
	
}

nav {
  background-color:gainsboro ;
  padding-bottom:30px;
}
nav{
  background-color:gainsboro ;
  padding-bottom: 20px;
  opacity: 0.8;
}



a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}



a:hover, a.active{
  background: none;
  color: rgb(78, 75, 75);
}


#logo {
  float: left;
  font-size: 30px;
}

ul{
  list-style-type: none;
  margin-top: 0px;
} 

li {
  color:white;
  padding:10px;
  float: left;
  font-size:20px;
}

.Login{
  font-size: 20px;
  margin-right: 40px;
  border-radius: 5px;
  border-style: none;
}

.Login:hover {
  background-color: darkgray;
}

.Login1{
  font-size: 20px;
  margin-right: 40px;
  border-radius: 5px;
  border-style: none;
}

.Login1:hover {
  background-color: darkgray;
}