body{
  background-image: url(/static/images/library-image1.jpeg);
  background-size: cover;
  font-style: normal;
  text-align: center;
}

img {
  opacity: 0.8;
  height: 10%;
  width: 10%;
}

nav {
  background-color:gainsboro ;
  padding-bottom: 60px;
  opacity: 0.8;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
a:hover, a.active{
  background: none;
  color: rgb(78, 75, 75);
}


a:active {
  text-decoration: darkseagreen;
}

#logo {
  float: left;
  font-size: 30px;
  color: black;
}

ul{
  list-style-type: none;
  margin-top: 0px;
} 

li {
  color:white;
  padding:14px 16px;
  float: right;
  font-size: 20px;
}

.user-select {
  align-items: center;
  padding: 50px;
  margin-left: 470px;
  margin-top: 180px;
  width: fit-content;
  background-color: white;
  border-radius: 10px;
}

.user-select p {
  font-size: 30px;
  padding-bottom: 20px;
}

.student-button{
  font-size: 20px;
  padding: 20px;
  margin-right: 40px;
  border-radius: 5px;
  border-style: none;
}

.student-button:hover {
  background-color: darkgray;
}

.librarian-button{
  border-color: none;
  font-size: 20px;
  margin-left: 40px;
  padding: 20px;
  border-radius: 5px;
  border-style: none;
}

.librarian-button:hover {
  background-color: darkgray;
}
