<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%load static%}
  <link rel="stylesheet" href="{%static 'userpage.css'%}">
    <title>Library App</title>
  
  </head>
  <body>
    <nav>
        <ul>
          <li id="logo">Borrow_Status</li>
          <li><a href="/icon">Dashboard</a></li>
          <li><a href="logout">About</a></li>
          <li><a href="#Contact_Us">Contact_Us</a></li>


        </ul>
      </nav>
      
	
    
    <div class="user-select">
      <p>YOUR BOOK</p>
      <form action = "" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input  type = "submit" value="Borrow"><br><br>
     </form>
</body>
