<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static%}
    <link rel="stylesheet" href="{% static 'style_icon.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Dashboard</title>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa fa-bars"></i>
        </label>
        <label class="logo"> LIBRARYAPP</label>
        <ul>
            <li><a class ="active" href="dashboard" class="active">DASHBOARD</a> </li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="#contact_us">CONTACT US</a></li>
            <form action = "" method="get">
                <input type="text" name="q" placeholder="Title search">
                <button type="submit">Search</button>
                <input type="text" name="r" placeholder="Subject search">
                <button type="submit">Search</button>
                <input type="text" name="t" placeholder="Author Search">
                <button type="submit">Search</button>
            </form>
        </ul>
    
    </nav>
    <section>
        <br>
        <h2>Posted Books Information</h2>
        <br>
        {% for message in messages %}
		    <p id="messages">{{message}}</p>
		{% endfor %}<br><br>
         <table border="" width = 100% height = 100>
                <tr>
                    <th> Author </th>
                    <th>Book Title</th>
                    <th>Publication Date</th>
                    <th> Book ID </th>
                    <th> Book Collection </th>
                    <th> Book Status </th>
                </tr>
            {% for book in books %}
                <tr align="center">
                    <td> {{ book.author}}</td>
                    <td>{{ book.book_title }}</td>
                    <td>{{ book.publish_date }}</td>
                    <td>{{ book.book_id }} </td>
                    <td>{{ book.book_collection }}</td>
                    <td>
                        {% if book.status %}
                            <a href="{% url 'borrow' book.id %}">Borrow</a>
                        {% else %}
                            <span>unavailable</span>
                        {% endif %}
                    </td>
                </tr>

               
           
        
            {% endfor %}
        </table>
        
    </section>

</body>