<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%load static%}
  <link rel="stylesheet" href="{%static 'userpage.css'%}">
    <title>Library App</title>
  
  </head>
  <body>
    <nav>
        <ul>
          <li id="logo">Library App</li>
          <li><a href="#Home">Home</a></li>
          <li><a href="#About">About</a></li>
          <li><a href="#Contact_Us">Contact_Us</a></li>

        </ul>
      </nav>
    <!-- <img src="/static/images/library-image1.jpeg" alt="library-image1"> -->
    <div class="user-select">
      <p>What are you logging in as?</p>
      <button class="student-button"><a href="/login">Student</a></button>
      <button class="librarian-button"><a href="/admin">Librarian</a></button>
    </div>  
    
  </body>
